Welcome to {{ prabhashj07_app }}!
This is learn-devops repo.

This template files contain placeholder `{{ prabhashj07_app }}` that will be replaced
with actual values while using this template within Ansible tasks. 
